@use "./palette" as *;
@use "./breakpoints";

.section {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  scroll-snap-align: center;
  z-index: 0;
}