@use "./palette" as *;
@use "./breakpoints";
@use './grainEffect' as *;

.section {
  @include grain-effect(0.35);
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  scroll-snap-align: center;
  z-index: 0;
}